@import 'primitives';

:root {
  --color-text-body-default: var(--color-brown-primary);
  --color-text-header-default: var(--color-green-primary);
  --color-text-link-default: var(--color-green-primary);
  --color-text-link-hover: var(--color-green-light);
  --color-text-link-pressed: var(--color-green-dark);

  --color-background-default-light: #FFF;
}