:root {
  --color-green-primary: #0F4500;
  --color-green-dark: #042300;
  --color-green-light: #1C6B00;

  --color-brown-primary: #321708;

  --color-yellow-light: #FFFDF3;
  --color-green-lightest: #FCFFFC;
}