.design {
  display: flex;
  flex-direction: column;
  gap: 24px;

  h2,
  h3 {
    margin: 0;
  }

  .summary-and-image {
    display: flex;
    flex-flow: row wrap;
    gap: 16px;

    .summary {
      width: calc(50% - 8px);
      display: flex;
      flex-direction: column;

      .summary-data {
        display: flex;
        flex-flow: row wrap;
        gap: 8px 24px;

        .datum {
          flex-grow: 1;
          width: calc(50% - 12px);

          h3 {
            margin: 0;
          }
        }
      }

      a {
        margin-top: 8px;
        width: fit-content;
      }
    }

    .image {
      width: calc(50% - 8px);
      overflow-y: scroll;
      border-radius: 8px 8px 0 0;
      height: 300px;
      border: 4px solid var(--color-border-dark);
      border-bottom: 0;
      background-color: black;

      img {
        width: 100%;
      }
    }
  }

  .background,
  .goals,
  .process,
  .learnings {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .goals-items,
  .learnings-items {
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: space-evenly;
  }

  .link-back {
    align-self: center;
  }
}

@media screen and (max-width: 800px) {
  .design {
    .summary-and-image {
      flex-flow: column;

      .summary,
      .image {
        width: 100%;
      }

      .summary {
        a {
          align-self: center;
        }
      }
    }

    .goals-items,
    .learnings-items {
      flex-direction: column;
      gap: 4px;
    }
  }
}

@media screen and (max-width: 348px) {
  .design {
    .summary-and-image {
      .summary {
        .summary-data {
          .datum {
            width: 100%;
          }
        }
      }
    }
  }
}
