header {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
  flex-wrap: wrap;

  .logo-link > a {
    font-family: 'Noto Mono', 'Courier New', monospace;
    font-size: 2em;
  }
}

@media print, screen and (max-width: 800px) {
  header {
    flex-direction: column;
    gap: 16px;

    .logo-link > a {
      font-size: 2.25em;
    }
  }
}
