footer {
  margin-top: 56px;
  display: flex;
  flex-direction: row;
  gap: 56px;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
}

@media print, screen and (max-width: 800px) {
  footer {
    margin-top: 32px;
  }
}