<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  </head>
  <body>
    <div class="wrapper">
      <header>
        <span class="logo-link"><a href="{{ "/" | absolute_url }}">g.c. garcia</a></span>

        {% include navigation.html %}

      </header>
      <section>
        {{ content }}
      </section>
      <footer>
        <a class="social" href="https://www.github.com/{{ site.github_username }}">
          {% include socials/gh.html %}
        </a>
        <a class="social" href="https://www.linkedin.com/in/{{ site.linkedin_username }}">
          {% include socials/ln.html %}
        </a>
        </ul>
      </footer>
    </div>
    <script>
      document.addEventListener('DOMContentLoaded', () => {
        const links = document.querySelectorAll('a');
        links.forEach(link => {
          if (link.hostname !== window.location.hostname) {
            link.setAttribute('target', '_blank');
            link.setAttribute('rel', 'noopener noreferrer');
          }
        });
      });
    </script>
  </body>
</html>