<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">GABI C. GARCIA</a></h1>

        <br>

        {% include navigation.html %}
      </header>
      <section>
        {{ content }}
      </section>
      <footer>
        <ul class="social-ul">
          <li class="social-li"><a class="social" href="https://www.github.com/{{ site.github_username }}"><img src="/assets/svgs/github.svg" alt="Github logo" width="32px"/></a></li>
          <li class="social-li"><a class="social" href="https://www.instagram.com/{{ site.instagram_username }}"><img src="/assets/svgs/instagram.svg" alt="Instagram logo" width="32px"/></a></li>
          <li class="social-li"><a class="social" href="https://www.linkedin.com/in/{{ site.linkedin_username }}"><img src="/assets/svgs/linkedin.svg" alt="Linkedin logo" width="32px"/></a></li>
        </ul>
      </footer>
    </div>
  </body>
</html>